name: "uni-meter"
version: "1.1.18"
slug: "uni_meter"
description: "A universal electrical meter converter"
arch:
  - amd64
  - aarch64
url: "https://github.com/sdeigm/uni-meter"
image: "docker.io/sdeigm/uni-meter-addon"
panel_icon: "mdi:barometer"
init: false
startup: services
homeassistant_api: true
hassio_api: true
hassio_role: homeassistant
host_network: true
ports:
  80/tcp: 80
  1010/udp: 1010
map:
  - type: addon_config
    read_only: true
options:
  custom_config: "uni-meter.conf"
schema:
  custom_config: str?
logger:
  default: info
